* {
    margin: 0;
    box-sizing : border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 2;
    color: #1f2d3d;
}

body {
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: #f7efde;
}

body::after {
    content: "Bulls and Cows";
    display: block;
    margin-top: 50px;
    color: #736a59;
    font-size: 12px;
    font-weight: 600;
}


#container {
    background-color: #f1e6cd;
}
